@import "variables";

.header {
  padding: 8px 26px 8px 10px;
  height: 47px;

  &.header-orange {
    background: $color-orange;

    .header-orange__btn-img {
      svg {
        display: block;
      }
    }
    .header-white__btn-img {
      svg {
        display: none;
      }
    }
  }

  &.header-white {
    background: #fff;

    .header-orange__btn-img {
      svg {
        display: none;
      }
    }
    .header-white__btn-img {
      svg {
        display: block;
      }
    }
  }
}
