.ic {
  &_check {
    width: 16px;
    height: 12px;
    background-image: url('../assets/images/icons/ic_check.svg');

    &--white {
      width: 16px;
      height: 12px;
      background-image: url('../assets/images/icons/ic_check--white.svg');
    }
  }

  &_eye-hide {
    width: 18px;
    height: 18px;
    background-image: url('../assets/images/icons/ic_eye-hide.svg');
  }

  &_eye-unhide {
    width: 18px;
    height: 18px;
    background-image: url('../assets/images/icons/ic_eye-unhide.svg');
  }

  &_card-apple-pay {
    width: 24px;
    height: 13px;
    background-image: url('../assets/images/icons/ic_card-apple-pay.svg');
  }

  &_card-google-pay {
    width: 24px;
    height: 13px;
    background-image: url('../assets/images/icons/ic_card-google-pay.svg');
  }

  &_card-card {
    width: 24px;
    height: 13px;
    background-image: url('../assets/images/icons/ic_card-card.svg');
  }

  &_doc {
    width: 14px;
    height: 18px;
    background-image: url('../assets/images/icons/ic_doc.svg');
  }

  &_right {
    width: 8px;
    height: 16px;
    background-image: url('../assets/images/icons/ic_right.svg');
  }

  &_phone {
    width: 18px;
    height: 22px;
    background-image: url('../assets/images/icons/ic_phone.svg');
  }

  &_side-settings {
    width: 24px;
    height: 24px;
    background-image: url('../assets/images/icons/ic_side-settings.svg');
  }
}
