.ic {
  &_check {
    width: 16px;
    height: 12px;
    background-image: url('../assets/images/icons/ic_check.svg');

    &--white {
      width: 16px;
      height: 12px;
      background-image: url('../assets/images/icons/ic_check--white.svg');
    }
  }

  &_eye-hide {
    width: 18px;
    height: 18px;
    background-image: url('../assets/images/icons/ic_eye-hide.svg');
  }

  &_eye-unhide {
    width: 18px;
    height: 18px;
    background-image: url('../assets/images/icons/ic_eye-unhide.svg');
  }

  &_card-apple-pay {
    width: 24px;
    height: 13px;
    background-image: url('../assets/images/icons/ic_card-apple-pay.svg');
  }

  &_card-google-pay {
    width: 24px;
    height: 13px;
    background-image: url('../assets/images/icons/ic_card-google-pay.svg');
  }

  &_card-card {
    width: 24px;
    height: 13px;
    background-image: url('../assets/images/icons/ic_card-card.svg');
  }

  &_doc {
    width: 14px;
    height: 18px;
    background-image: url('../assets/images/icons/ic_doc.svg');
  }

  &_right {
    width: 8px;
    height: 16px;
    background-image: url('../assets/images/icons/ic_right.svg');
  }

  &_phone {
    width: 18px;
    height: 22px;
    background-image: url('../assets/images/icons/ic_phone.svg');
  }

  &_side-settings {
    width: 24px;
    height: 24px;
    background-image: url('../assets/images/icons/ic_side-settings.svg');
  }

  &_faceid {
    width: 18px;
    height: 18px;
    background-image: url('../assets/images/icons/ic_faceid.svg');
  }

  &_notification {
    width: 18px;
    height: 18px;
    background-image: url('../assets/images/icons/ic_notification.svg');
  }

  &_share {
    width: 18px;
    height: 18px;
    background-image: url('../assets/images/icons/ic_share.svg');
  }

  &_logout {
    width: 18px;
    height: 18px;
    background-image: url('../assets/images/icons/ic_logout.svg');
  }

  &_delete {
    width: 21px;
    height: 23px;
    background-image: url('../assets/images/icons/ic_delete.svg');
  }

  &_card-visa {
    width: 65px;
    height: 40px;
    //background-image: url('../assets/images/icons/ic_card-visa.svg');
    background-image: url('../assets/images/icons/ic_card-visa.png');
  }

  &_card-mastercard {
    width: 65px;
    height: 40px;
    //background-image: url('../assets/images/icons/ic_card-mastercard.svg');
    background-image: url('../assets/images/icons/ic_card-mastercard.png');
  }

  &_bank-alfa {
    width: 17px;
    height: 18px;
    background-image: url('../assets/images/icons/banks/ic_alfa.svg');
  }

  &_card-big-settings {
    width: 20px;
    height: 27px;
    background-image: url('../assets/images/icons/ic_card-big-settings.svg');
  }

  &_pay-system-visa {
    width: 39px;
    height: 13px;
    background-image: url('../assets/images/icons/ic_pay-system-visa.svg');
  }

  &_add-new-card {
    width: 50px;
    height: 50px;
    background-image: url('../assets/images/icons/ic_add-new-card.svg');
  }

  &_calendar {
    width: 22px;
    height: 22px;
    background-image: url('../assets/images/icons/ic_calendar.svg');
  }

  &_calendar--active {
    width: 22px;
    height: 22px;
    background-image: url('../assets/images/icons/ic_calendar--active.svg');
  }
}
