$color-6B6B6B: #6B6B6B;
$color-858585: #858585;
$color-81765E: #81765E;
$color-979797B0: #979797B0;
$color-979797: #979797;

$color-orange: #F2A900;
$color-green: #115E67;
$color-white-main: #FAFAF9;
$color-grey-secondary: #878787;

$color-error: #FF4A3E;

