@import "shared/shared";

.regular-payment {

  &__border-orange {
    border: 1px solid $color-orange;
    border-radius: 7px;
  }

  &__card-list {
    .card {
      position: relative;
      height: auto;


      .radio-button {
        position: absolute;
        top: 4px;
        right: 6px;
      }
    }
  }

  &__item {
    display: flex;
    padding: 3px 16px 1px 24px;

    &__icon {
      width: 19px;
      height: 22px;
      background-image: url('../assets/images/icons/ic_regular-payment.svg');
    }

    &__content {
      display: flex;
      flex-direction: column;
      margin-left: 20px;
      
      &__info {
        display: flex;
        align-items: center;

        &__label {
          font-size: 12px;
          line-height: 16px;
          color: $color-858585;
        }
        &__number {
          margin-left: 16px;
          font-size: 13px;
          line-height: 20px;
          color: $color-green;
        }
      }

      &__name {
        margin-top: 7px;
        font-size: 14px;
        line-height: 16px;
        color: #656565;
      }

      &__more {
        margin-top: 13px;
        font-size: 12px;
        line-height: 18px;
        color: $color-orange;
      }
    }

  }


  &__edit-list {
    display: grid;
    grid-gap: 16px;
    width: 100%;

    &__item {
      display: flex;
      align-items: center;
      padding: 8px 8px 8px 12px;

      border: 1px solid;
      border-color: rgba(196, 196, 196, 0.31);
      border-radius: 7px;
      border-left-width: 6px;

      font-size: 14px;
      line-height: 16px;

      &.active {
        border-color: $color-orange;
      }

      span {
        max-width: calc(100% - 36px);
      }

      .radio-button {
        margin-left: auto;
      }
    }
  }
}

.h-61 {
  height: 61px;
}

.h-328 {
  height: 328px;
}

.h-256 {
  height: 256px;
}

.mt-80 {
  margin-top: 80px;
}


