include partial/shared

doctype html
html(lang="uk")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title account-statement
    link(rel="stylesheet" type="text/css" href="../styles/bootstrap-utilities.css")
    link(rel="stylesheet" type="text/css" href="../styles/account-statement.css")
    //link(rel="stylesheet" type="text/css" href="../styles/jquery-ui.min.css")

  body

    +header()



    main#account-statement.with-footer.account-statement
      .d-flex.flex-column.align-items-center.pb-20.h-100
        .profile__logo.mb-32
          +logo(122)
        .container-shadow.h-100
          .container-shadow__icon
            <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(#filter0_d)"><circle cx="28" cy="24" r="24" fill="white"/><circle cx="28" cy="24" r="23.5" stroke="#F2A900"/></g><path d="M23.72 28.4623L25.481 27.9544L36.084 17.225C36.1676 17.1393 36.2142 17.0241 36.2136 16.9044C36.213 16.7846 36.1654 16.6699 36.081 16.585L35.446 15.9431C35.4049 15.9009 35.3559 15.8673 35.3018 15.8443C35.2476 15.8213 35.1894 15.8093 35.1306 15.809C35.0718 15.8088 35.0135 15.8202 34.9591 15.8427C34.9047 15.8652 34.8554 15.8983 34.814 15.9401L24.239 26.6414L23.719 28.4613L23.72 28.4623ZM36.703 14.6711L37.338 15.3141C38.214 16.201 38.222 17.632 37.354 18.5099L26.428 29.5673L22.664 30.6512C22.4342 30.7155 22.1883 30.686 21.9802 30.5693C21.7721 30.4525 21.6188 30.2579 21.554 30.0282C21.5058 29.8631 21.5051 29.6878 21.552 29.5223L22.647 25.6825L33.544 14.6541C33.7512 14.4455 33.9979 14.2802 34.2696 14.1679C34.5414 14.0556 34.8328 13.9985 35.1268 14C35.4209 14.0015 35.7117 14.0615 35.9823 14.1766C36.2529 14.2916 36.4979 14.4604 36.703 14.6711ZM25.184 15.8241C25.68 15.8241 26.082 16.231 26.082 16.733C26.0828 16.8517 26.0602 16.9693 26.0155 17.0792C25.9707 17.1892 25.9048 17.2892 25.8214 17.3736C25.738 17.458 25.6388 17.5252 25.5294 17.5712C25.42 17.6173 25.3027 17.6413 25.184 17.642H21.592C20.6 17.642 19.796 18.4559 19.796 19.4589V30.3642C19.796 31.3682 20.6 32.1821 21.592 32.1821H32.368C33.36 32.1821 34.165 31.3682 34.165 30.3642V26.7294C34.165 26.2275 34.567 25.8205 35.063 25.8205C35.559 25.8205 35.961 26.2275 35.961 26.7304V30.3642C35.961 32.3721 34.352 34 32.368 34H21.592C19.608 34 18 32.3721 18 30.3642V19.4589C18 17.452 19.608 15.8241 21.592 15.8241H25.184Z" fill="#F2A900"/><defs><filter id="filter0_d" x="0" y="0" width="56" height="56" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset dy="4"/><feGaussianBlur stdDeviation="2"/><feColorMatrix type="matrix" values="0 0 0 0 0.766667 0 0 0 0 0.76475 0 0 0 0 0.76475 0 0 0 0.25 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/></filter></defs></svg>
          .d-flex.flex-column.align-items-center.w-100.h-100
            .text-16-16.color-orange.mb-44 Виписка з рахунку
            .text-13-20.color-858585.mb-12 Оберіть період за який сформувати виписку
            +input('startDate', 'Початкова дата', 'date', {default: 'calendar', focus: 'calendar--active'})
            +input('endDate', 'Кінцева дата', 'date', {default: 'calendar', focus: 'calendar--active'})
            .text-12-16.color-81765E80.mt-20.mb-20 ***З Вашого рахунку автоматично буде знята комісія за надання виписки з пенсійного рахунку згідно підписаних тарифів.
            button#get-account-statement.btn.mt-auto Отримати виписку


    #account-statement-modal-1
      .modal__content
        .modal__close-btn
        .text-16-16.color-orange.mt-44 Виписка з рахунку!
        .d-flex.align-items-center.mt-48.mb-48
          <svg width="47" height="47" viewBox="0 0 47 47" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="23.5" cy="23.5" r="23.5" fill="#115E67"/><path d="M31.4548 29.0093C31.3801 28.9342 31.2804 28.8841 31.1808 28.8841C31.0812 28.8841 30.9816 28.9091 30.882 28.9843L29.1386 30.6124V25.2521C29.1386 25.0267 28.9642 24.8514 28.7401 24.8514C28.5159 24.8514 28.3416 25.0267 28.3416 25.2521V30.6374L26.5982 29.0093C26.5235 28.9342 26.4239 28.8841 26.2994 28.9091C26.1997 28.9091 26.1001 28.9592 26.0254 29.0344C25.9507 29.1095 25.9258 29.2097 25.9258 29.3349C25.9258 29.4351 25.9756 29.5353 26.0503 29.6104L28.4661 31.8647C28.5409 31.9399 28.6405 31.9649 28.7401 31.9649C28.8397 31.9649 28.9393 31.9148 29.0141 31.8647L31.4299 29.6104C31.5046 29.5353 31.5544 29.4351 31.5544 29.3349C31.5544 29.2097 31.5295 29.1095 31.4548 29.0093Z" fill="white"/><path d="M28.7401 35.6721C24.7802 35.6721 21.5674 32.4409 21.5674 28.4583C21.5674 24.4757 24.7802 21.2446 28.7401 21.2446C32.7001 21.2446 35.9129 24.4757 35.9129 28.4583C35.9129 32.4409 32.7001 35.6721 28.7401 35.6721ZM28.7401 22.1212C25.2783 22.1212 22.4391 24.9516 22.4391 28.4583C22.4391 31.9399 25.2534 34.7954 28.7401 34.7954C32.202 34.7954 35.0412 31.965 35.0412 28.4583C35.0412 24.9516 32.202 22.1212 28.7401 22.1212Z" fill="white"/><path d="M22.3644 35.672H13.4732C13.2241 35.672 13 35.4716 13 35.1961V11.4759C13 11.2254 13.1992 11 13.4732 11H28.4165C28.541 11 28.6655 11.0501 28.7402 11.1252L33.0489 15.3834C33.1485 15.4835 33.1983 15.5837 33.1983 15.734V20.0673C33.1983 20.3178 32.999 20.5432 32.7251 20.5432C32.476 20.5432 32.2519 20.3428 32.2519 20.0673V15.9344L28.2172 11.9518H13.9464V34.6952H22.3644C22.6135 34.6952 22.8376 34.8955 22.8376 35.1711C22.8376 35.4466 22.6384 35.672 22.3644 35.672Z" fill="white"/><path d="M16.7354 19.1405H26.7225C27.0214 19.1405 27.2704 18.89 27.2704 18.5894C27.2704 18.2889 27.0214 18.0384 26.7225 18.0384H16.7354C16.4366 18.0384 16.1875 18.2889 16.1875 18.5894C16.1875 18.9151 16.4366 19.1405 16.7354 19.1405Z" fill="white"/><path d="M16.7852 16.1097H26.7723C27.0712 16.1097 27.3202 15.8593 27.3202 15.5587C27.3202 15.2581 27.0712 15.0076 26.7723 15.0076H16.7852C16.4864 15.0076 16.2373 15.2581 16.2373 15.5587C16.2373 15.8593 16.4864 16.1097 16.7852 16.1097Z" fill="white"/><path d="M16.7852 22.2464H22.6131C22.912 22.2464 23.161 21.996 23.161 21.6954C23.161 21.3948 22.912 21.1443 22.6131 21.1443H16.7852C16.4864 21.1443 16.2373 21.3948 16.2373 21.6954C16.2373 21.996 16.4864 22.2464 16.7852 22.2464Z" fill="white"/><path d="M20.397 25.4526H16.7608C16.4619 25.4526 16.2129 25.2021 16.2129 24.9015C16.2129 24.6009 16.4619 24.3505 16.7608 24.3505H20.397C20.6959 24.3505 20.9449 24.6009 20.9449 24.9015C20.9449 25.2021 20.6959 25.4526 20.397 25.4526Z" fill="white"/></svg>
          .ml-20.text-14-20.color-858585 Виписка з пенсійного рахунку за 12.03.2021. pdf
        #account-statement-modal-1-print.btn Роздрукувати виписку
        #account-statement-modal-1-save.mt-32.mb-24.text-14-16.color-green Зберегти виписку

    #account-statement-modal-2
      .modal__content
        .modal__close-btn
        .text-16-16.color-orange.mt-80 Виписка успішно роздрукована!
        .ic_done.mt-28.mb-48

    +loading()
    +footer()




  script(src="../scripts/jquery-3.6.0.min.js")
  script(src="../scripts/jquery-ui.min.js")

  script(src="../scripts/index.js")

