include partial/shared

doctype html
html(lang="uk")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title contacts
    link(rel="stylesheet" type="text/css" href="../styles/bootstrap-utilities.css")
    link(rel="stylesheet" type="text/css" href="../styles/contacts.css")
    //link(rel="stylesheet" type="text/css" href="../styles/jquery-ui.min.css")

  body

    +header()



    main#contacts.with-footer.contacts
      .d-flex.flex-column.align-items-center.pb-20
        .text-17-16.color-green.mt-36.mb-28 Контакти
        .text-15-20.color-858585.mb-24 вул. Парково-Сирецька, 23,<br> Україна, м. Київ, 04112
        .cards-divider.mt-4.mb-20
        a.d-flex.align-items-center(href='tel:+380443649965')
          .ic_phone-2.mr-12
          .text-15-20.color-6B6B6B +38 (044) 364 99 65
        a.d-flex.align-items-center.mt-20(href='tel:+380443649965')
          .ic_phone-2.mr-12
          .text-15-20.color-6B6B6B +38 (044) 364 99 65
        .cards-divider.mt-8.mb-20
        a.d-flex.align-items-center(href='mailto:office@ligapension.com')
          .ic_email.mr-12
          .text-15-20.color-orange.fw-bold office@ligapension.com
        .cards-divider.mt-28.mb-16
        .text-15-20.color-orange Режим роботи:
        .text-15-20.color-858585.mt-8 Понеділок-П'ятниця: з 9.00 до 18.00<br> без перерви
        .text-15-20.color-orange.mt-20 Субота-Неділя:
        .text-15-20.color-858585.mt-8 вихідні
        .cards-divider.mt-12.mb-20
        .text-15-20.color-858585.mw-279.w-100.text-center Компанія <span class="color-orange">не працює</span> в офіційні святкові та неробочі дні, а також дотримується рекомендованих Кабінетом Міністрів України графіків перенесення робочих днів.
        .cards-divider.mt-24.mb-28
        .d-flex
          a
            <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M33 16C33 24.836 25.6121 32 16.5 32C7.38788 32 0 24.836 0 16C0 7.164 7.38788 0 16.5 0C25.6121 0 33 7.164 33 16ZM17.0913 11.812C15.4866 12.4587 12.2788 13.7987 7.469 15.8307C6.688 16.132 6.27825 16.4267 6.24113 16.7147C6.17788 17.2027 6.80763 17.3947 7.66288 17.6547C7.77975 17.6907 7.90075 17.7267 8.0245 17.7667C8.86738 18.032 10.0004 18.3427 10.5889 18.3547C11.1237 18.3653 11.7205 18.152 12.3791 17.7147C16.8726 14.772 19.1923 13.2853 19.338 13.2533C19.4411 13.2307 19.5841 13.2013 19.6804 13.2853C19.7766 13.368 19.767 13.5253 19.7574 13.568C19.6941 13.8253 17.2274 16.0507 15.9486 17.2027C15.5499 17.5613 15.268 17.816 15.2103 17.8747C15.081 18.004 14.949 18.128 14.8225 18.2467C14.0387 18.9773 13.453 19.5267 14.8555 20.4227C15.5293 20.8533 16.0683 21.2093 16.6059 21.564C17.193 21.952 17.7788 22.3387 18.5378 22.8213C18.7303 22.944 18.9145 23.0707 19.0946 23.1947C19.778 23.668 20.3926 24.092 21.1516 24.0253C21.5916 23.9853 22.0481 23.584 22.2791 22.3853C22.825 19.5507 23.9003 13.412 24.1491 10.8813C24.1643 10.6712 24.155 10.4601 24.1216 10.252C24.1016 10.0839 24.0172 9.92924 23.8851 9.81867C23.6885 9.66267 23.3832 9.62933 23.2458 9.632C22.6256 9.64267 21.6741 9.964 17.0913 11.812Z" fill="#F2A900"/></svg>
          a.ml-24
            <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 16.5921C0 24.7954 5.95788 31.6168 13.75 33V21.0829H9.625V16.5H13.75V12.8329C13.75 8.70788 16.4079 6.41712 20.1671 6.41712C21.3579 6.41712 22.6421 6.6 23.8329 6.78288V11H21.725C19.7079 11 19.25 12.0079 19.25 13.2921V16.5H23.65L22.9171 21.0829H19.25V33C27.0421 31.6168 33 24.7968 33 16.5921C33 7.46625 25.575 0 16.5 0C7.425 0 0 7.46625 0 16.5921Z" fill="#F2A900"/></svg>
          a.ml-24
            <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.6562 16C21.6562 17.3261 21.113 18.5979 20.146 19.5355C19.179 20.4732 17.8675 21 16.5 21C15.1325 21 13.821 20.4732 12.854 19.5355C11.887 18.5979 11.3438 17.3261 11.3438 16C11.3438 15.715 11.3747 15.4367 11.428 15.1667H9.625V21.8283C9.625 22.2917 10.0117 22.6667 10.4895 22.6667H22.5122C22.7412 22.6662 22.9606 22.5777 23.1224 22.4205C23.2842 22.2634 23.375 22.0504 23.375 21.8283V15.1667H21.572C21.6253 15.4367 21.6562 15.715 21.6562 16ZM16.5 19.3333C16.9515 19.3332 17.3986 19.2469 17.8157 19.0792C18.2329 18.9116 18.6118 18.6659 18.931 18.3562C19.2502 18.0465 19.5034 17.6789 19.6761 17.2743C19.8488 16.8698 19.9376 16.4362 19.9375 15.9983C19.9374 15.5605 19.8483 15.1269 19.6754 14.7225C19.5025 14.318 19.2492 13.9505 18.9298 13.641C18.6105 13.3314 18.2314 13.0859 17.8141 12.9185C17.3969 12.751 16.9498 12.6649 16.4983 12.665C15.5864 12.6652 14.7119 13.0167 14.0672 13.6421C13.4226 14.2676 13.0606 15.1157 13.0608 16C13.061 16.8843 13.4235 17.7322 14.0685 18.3574C14.7134 18.9825 15.5881 19.3336 16.5 19.3333ZM20.625 12.5H22.6858C22.8227 12.5 22.954 12.4474 23.051 12.3537C23.148 12.2599 23.2027 12.1328 23.2031 12V10.0017C23.2031 9.86862 23.1486 9.74102 23.0516 9.64693C22.9546 9.55285 22.823 9.5 22.6858 9.5H20.625C20.4878 9.5 20.3562 9.55285 20.2592 9.64693C20.1622 9.74102 20.1077 9.86862 20.1077 10.0017V12C20.1094 12.275 20.3414 12.5 20.625 12.5ZM16.5 0C12.1239 0 7.92709 1.68571 4.83274 4.68629C1.73839 7.68687 0 11.7565 0 16C0 20.2435 1.73839 24.3131 4.83274 27.3137C7.92709 30.3143 12.1239 32 16.5 32C18.6668 32 20.8124 31.5861 22.8143 30.7821C24.8162 29.978 26.6351 28.7994 28.1673 27.3137C29.6994 25.828 30.9148 24.0641 31.744 22.1229C32.5732 20.1817 33 18.1012 33 16C33 13.8989 32.5732 11.8183 31.744 9.87706C30.9148 7.93586 29.6994 6.17203 28.1673 4.68629C26.6351 3.20055 24.8162 2.022 22.8143 1.21793C20.8124 0.413852 18.6668 0 16.5 0ZM25.0938 22.4817C25.0938 23.5 24.2344 24.3333 23.1842 24.3333H9.81578C8.76562 24.3333 7.90625 23.5 7.90625 22.4817V9.51833C7.90625 8.5 8.76562 7.66667 9.81578 7.66667H23.1842C24.2344 7.66667 25.0938 8.5 25.0938 9.51833V22.4817Z" fill="#F2A900"/></svg>
          a.ml-24
            <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.2552 16.213L15.3948 14.4117C15.058 14.2553 14.7812 14.4306 14.7812 14.8036V18.1964C14.7812 18.5694 15.058 18.7447 15.3948 18.5883L19.2534 16.787C19.592 16.6289 19.592 16.3711 19.2552 16.213ZM16.5 0C7.38719 0 0 7.38719 0 16.5C0 25.6128 7.38719 33 16.5 33C25.6128 33 33 25.6128 33 16.5C33 7.38719 25.6128 0 16.5 0ZM16.5 23.2031C8.05406 23.2031 7.90625 22.4417 7.90625 16.5C7.90625 10.5583 8.05406 9.79688 16.5 9.79688C24.9459 9.79688 25.0938 10.5583 25.0938 16.5C25.0938 22.4417 24.9459 23.2031 16.5 23.2031Z" fill="#F2A900"/></svg>
        .cards-divider.mt-24.mb-16
        .text-12-16.color-6B6B6B.mb-12 Наша адреса на карті
        //a.contacts__map(href='geo:')
        <iframe class="contacts__map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6780.572464753727!2d30.438915748305362!3d50.46261492263509!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x636e1900d0b57d9e!2z0JvQhtCT0JA60JfQkNCa0J7QnQ!5e0!3m2!1sen!2sua!4v1631112824836!5m2!1sen!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

    +loading()
    +footer(2)




  script(src="../scripts/jquery-3.6.0.min.js")
  script(src="../scripts/jquery-ui.min.js")

  script(src="../scripts/index.js")



