include partial/shared

doctype html
html(lang="uk")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title login
    link(rel="stylesheet" type="text/css" href="../styles/login.css")
    link(rel="stylesheet" type="text/css" href="../styles/bootstrap-utilities.css")


  body#login

    +header()


    main
      .d-flex.flex-column.align-items-center.w-100.h-100.justify-content-around
        div.d-flex.flex-column.w-100.align-items-center
          h1.text-h1 Авторизація
          .login__inputs-container
            +input('email', 'E-mail', 'text')
            +input('password', 'Пароль', 'password', 'eye-hide')
          .login__forgot
            p Забули пароль? <a href="reset-password-step1.html" class="color-orange">Натисніть тут</a>

        div.d-flex.flex-column.w-100.align-items-center
          a.btn(href='profile.html') Увійти
          a.text-14-16.color-orange.mt-48.fw-bold(href='login-faceid.html') Увійти за допомогою Face ID

    +loading()

  script(src="../scripts/jquery-3.6.0.min.js")
  script(src="../scripts/jquery-ui.min.js")
  script(src="../scripts/index.js")
