include partial/shared

doctype html
html(lang="uk")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title login
    link(rel="stylesheet" type="text/css" href="../styles/bootstrap-utilities.css")
    link(rel="stylesheet" type="text/css" href="../styles/profile.css")


  body#registration-code

    +header(null)


    main
      .d-flex.flex-column.align-items-center.w-100.h-100



  script(src="../scripts/jquery-3.6.0.min.js")
  script(src="../scripts/index.js")

