include partial/shared

doctype html
html(lang="uk")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title regular-payment
    link(rel="stylesheet" type="text/css" href="../styles/bootstrap-utilities.css")
    link(rel="stylesheet" type="text/css" href="../styles/regular-payment.css")



  body

    +header()



    main#regular-payment.with-footer.regular-payment
      .d-flex.flex-column.align-items-center
        .profile__logo.mb-32
          +logo(122)
        .container-shadow
          .container-shadow__icon
            <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(#filter0_d)"><circle cx="28" cy="24" r="23.5" fill="white" stroke="#F2A900"/><path d="M25.7856 22C25.653 22 25.5259 22.0552 25.4321 22.1534C25.3383 22.2516 25.2856 22.3849 25.2856 22.5238C25.2856 22.6627 25.3383 22.7959 25.4321 22.8942C25.5259 22.9924 25.653 23.0476 25.7856 23.0476H27.7856C27.9183 23.0476 28.0454 22.9924 28.1392 22.8942C28.233 22.7959 28.2856 22.6627 28.2856 22.5238C28.2856 22.3849 28.233 22.2516 28.1392 22.1534C28.0454 22.0552 27.9183 22 27.7856 22H25.7856Z" fill="#F2A900"/><path d="M14.2856 15.1905C14.2856 14.4958 14.549 13.8297 15.0179 13.3385C15.4867 12.8473 16.1226 12.5714 16.7856 12.5714H27.7856C28.4487 12.5714 29.0846 12.8473 29.5534 13.3385C30.0223 13.8297 30.2856 14.4958 30.2856 15.1905V22.5238C30.2856 23.2184 30.0223 23.8846 29.5534 24.3757C29.0846 24.8669 28.4487 25.1428 27.7856 25.1428H16.7856C16.1226 25.1428 15.4867 24.8669 15.0179 24.3757C14.549 23.8846 14.2856 23.2184 14.2856 22.5238V15.1905ZM15.2856 22.5238C15.2856 22.9406 15.4437 23.3403 15.725 23.635C16.0063 23.9297 16.3878 24.0952 16.7856 24.0952H27.7856C28.1835 24.0952 28.565 23.9297 28.8463 23.635C29.1276 23.3403 29.2856 22.9406 29.2856 22.5238V17.8095H15.2856V22.5238ZM29.2856 15.1905C29.2856 14.7737 29.1276 14.374 28.8463 14.0793C28.565 13.7846 28.1835 13.619 27.7856 13.619H16.7856C16.3878 13.619 16.0063 13.7846 15.725 14.0793C15.4437 14.374 15.2856 14.7737 15.2856 15.1905V16.7619H29.2856V15.1905Z" fill="#F2A900"/><path d="M35.4286 20.9143C38.7046 20.9143 41.3714 23.5812 41.3714 26.8572C41.3714 30.1332 38.7046 32.8 35.4286 32.8C32.1526 32.8 29.4857 30.1332 29.4857 26.8572C29.4857 23.5812 32.1526 20.9143 35.4286 20.9143ZM35.4286 19.4286C31.3258 19.4286 28 22.7544 28 26.8572C28 30.96 31.3258 34.2857 35.4286 34.2857C39.5314 34.2857 42.8571 30.96 42.8571 26.8572C42.8571 22.7544 39.5314 19.4286 35.4286 19.4286ZM38.2514 29.3829L36.1714 26.6098V23.1429H34.6857V27.1045L37.0629 30.2736L38.2514 29.3821V29.3829Z" fill="#F2A900"/></g><defs><filter id="filter0_d" x="0" y="0" width="56" height="56" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset dy="4"/><feGaussianBlur stdDeviation="2"/><feColorMatrix type="matrix" values="0 0 0 0 0.766667 0 0 0 0 0.76475 0 0 0 0 0.76475 0 0 0 0.25 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/></filter></defs></svg>
          form.d-flex.flex-column.align-items-center.w-100(name="regular-payment")
            .text-16-16.color-orange.mb-24 Регулярний платіж
            .text-15-20.color-858585.mb-32 Рекомендуємо налаштувати свій графік поповнення Вашого пенсійного рахунку. Це надасть можливість Вам не забувати формувати свої пенсійні накопичення регулярно та своєчасно.
            .d-flex.flex-column
              .regular-payment__border-orange.d-flex.pl-8.pr-8.h-61.align-items-center
                <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="21" cy="21" r="21" fill="#F2A900" fill-opacity="0.9"/><path d="M33.64 23.2V30.24C33.6395 30.7066 33.4539 31.154 33.1239 31.4839C32.794 31.8139 32.3466 31.9995 31.88 32H10.76C10.2934 31.9995 9.84602 31.8139 9.51607 31.4839C9.18612 31.154 9.00052 30.7066 9 30.24V23.2C9.00052 22.7334 9.18612 22.286 9.51607 21.9561C9.84602 21.6261 10.2934 21.4405 10.76 21.44H16.04C16.2734 21.44 16.4972 21.5327 16.6623 21.6977C16.8273 21.8628 16.92 22.0866 16.92 22.32C16.92 22.5534 16.8273 22.7772 16.6623 22.9423C16.4972 23.1073 16.2734 23.2 16.04 23.2H10.76V30.24H31.88V23.2H26.6C26.3666 23.2 26.1428 23.1073 25.9777 22.9423C25.8127 22.7772 25.72 22.5534 25.72 22.32C25.72 22.0866 25.8127 21.8628 25.9777 21.6977C26.1428 21.5327 26.3666 21.44 26.6 21.44H31.88C32.3466 21.4405 32.794 21.6261 33.1239 21.9561C33.4539 22.286 33.6395 22.7334 33.64 23.2ZM20.6977 22.9423C20.701 22.9456 20.7045 22.9482 20.7078 22.9514C20.7253 22.9683 20.7432 22.985 20.7621 23.0005C20.7729 23.0093 20.7843 23.017 20.7954 23.0253C20.8073 23.0341 20.8189 23.0435 20.8313 23.0517C20.844 23.0602 20.8572 23.0677 20.8704 23.0755C20.882 23.0824 20.8933 23.0897 20.9052 23.096C20.9184 23.1031 20.9319 23.109 20.9454 23.1154C20.958 23.1214 20.9703 23.1275 20.9832 23.133C20.9963 23.1383 21.0096 23.1427 21.0227 23.1473C21.0365 23.1524 21.0503 23.1578 21.0645 23.1621C21.0777 23.166 21.091 23.1689 21.1043 23.1723C21.1188 23.1759 21.1332 23.18 21.1482 23.183C21.1635 23.186 21.1789 23.1878 21.1944 23.19C21.2073 23.1919 21.22 23.1944 21.2331 23.1956C21.2909 23.2013 21.3491 23.2013 21.4069 23.1956C21.42 23.1943 21.4328 23.1919 21.4457 23.1901C21.4611 23.1879 21.4765 23.186 21.4919 23.183C21.5068 23.18 21.5212 23.1759 21.5357 23.1723C21.549 23.169 21.5623 23.166 21.5754 23.1621C21.5897 23.1576 21.6035 23.1524 21.6173 23.1473C21.6305 23.1426 21.6437 23.1383 21.6567 23.133C21.6697 23.1275 21.682 23.1214 21.6945 23.1154C21.7081 23.109 21.7216 23.1031 21.7348 23.096C21.7467 23.0897 21.758 23.0824 21.7696 23.0755C21.7828 23.0677 21.796 23.0602 21.8087 23.0517C21.821 23.0435 21.8327 23.0341 21.8446 23.0253C21.8557 23.017 21.8671 23.0093 21.8779 23.0005C21.8968 22.985 21.9147 22.9683 21.9321 22.9514C21.9355 22.9481 21.939 22.9456 21.9423 22.9423L27.2223 17.6623C27.304 17.5806 27.3688 17.4835 27.413 17.3768C27.4573 17.27 27.48 17.1556 27.48 17.04C27.48 16.9244 27.4573 16.81 27.413 16.7032C27.3688 16.5965 27.304 16.4994 27.2223 16.4177C27.1406 16.336 27.0435 16.2712 26.9368 16.227C26.83 16.1827 26.7156 16.16 26.6 16.16C26.4844 16.16 26.37 16.1827 26.2632 16.227C26.1565 16.2712 26.0594 16.336 25.9777 16.4177L22.2 20.1956V10.88C22.2 10.6466 22.1073 10.4228 21.9423 10.2577C21.7772 10.0927 21.5534 10 21.32 10C21.0866 10 20.8628 10.0927 20.6977 10.2577C20.5327 10.4228 20.44 10.6466 20.44 10.88V20.1956L16.6623 16.4177C16.4972 16.2527 16.2734 16.16 16.04 16.16C15.8066 16.16 15.5828 16.2527 15.4177 16.4177C15.2527 16.5828 15.16 16.8066 15.16 17.04C15.16 17.2734 15.2527 17.4972 15.4177 17.6623L20.6977 22.9423ZM29.24 26.72C29.24 26.4589 29.1626 26.2037 29.0175 25.9866C28.8725 25.7696 28.6663 25.6004 28.4251 25.5005C28.1839 25.4006 27.9185 25.3744 27.6625 25.4254C27.4064 25.4763 27.1712 25.602 26.9866 25.7866C26.802 25.9712 26.6763 26.2064 26.6254 26.4625C26.5744 26.7185 26.6006 26.9839 26.7005 27.2251C26.8004 27.4663 26.9696 27.6725 27.1866 27.8175C27.4037 27.9626 27.6589 28.04 27.92 28.04C28.27 28.0396 28.6055 27.9004 28.853 27.653C29.1004 27.4055 29.2396 27.07 29.24 26.72Z" fill="white"/></svg>
                .text-14-16.color-6B6B6B.ml-12 Поповнити рахунок
              a.regular-payment__border-orange.d-flex.pl-8.pr-8.h-61.align-items-center.mt-20(href='regular-payment-edit.html')
                <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="21" cy="21" r="21" fill="#F2A900" fill-opacity="0.9"/><path d="M21 19.7C21.1724 19.7 21.3377 19.7684 21.4596 19.8903C21.5815 20.0122 21.65 20.1776 21.65 20.35V22.3H23.6C23.7724 22.3 23.9377 22.3684 24.0596 22.4903C24.1815 22.6122 24.25 22.7776 24.25 22.95C24.25 23.1223 24.1815 23.2877 24.0596 23.4096C23.9377 23.5315 23.7724 23.6 23.6 23.6H21.65V25.55C21.65 25.7223 21.5815 25.8877 21.4596 26.0096C21.3377 26.1315 21.1724 26.2 21 26.2C20.8276 26.2 20.6623 26.1315 20.5404 26.0096C20.4185 25.8877 20.35 25.7223 20.35 25.55V23.6H18.4C18.2276 23.6 18.0623 23.5315 17.9404 23.4096C17.8185 23.2877 17.75 23.1223 17.75 22.95C17.75 22.7776 17.8185 22.6122 17.9404 22.4903C18.0623 22.3684 18.2276 22.3 18.4 22.3H20.35V20.35C20.35 20.1776 20.4185 20.0122 20.5404 19.8903C20.6623 19.7684 20.8276 19.7 21 19.7Z" fill="white"/><path d="M15.1501 10.6C15.3225 10.6 15.4878 10.6685 15.6097 10.7904C15.7316 10.9123 15.8001 11.0776 15.8001 11.25V11.9H26.2001V11.25C26.2001 11.0776 26.2686 10.9123 26.3905 10.7904C26.5124 10.6685 26.6777 10.6 26.8501 10.6C27.0225 10.6 27.1878 10.6685 27.3097 10.7904C27.4316 10.9123 27.5001 11.0776 27.5001 11.25V11.9H28.8001C29.4897 11.9 30.151 12.1739 30.6386 12.6615C31.1262 13.1491 31.4001 13.8104 31.4001 14.5V28.8C31.4001 29.4895 31.1262 30.1509 30.6386 30.6385C30.151 31.126 29.4897 31.4 28.8001 31.4H13.2001C12.5105 31.4 11.8492 31.126 11.3616 30.6385C10.874 30.1509 10.6001 29.4895 10.6001 28.8V14.5C10.6001 13.8104 10.874 13.1491 11.3616 12.6615C11.8492 12.1739 12.5105 11.9 13.2001 11.9H14.5001V11.25C14.5001 11.0776 14.5686 10.9123 14.6905 10.7904C14.8124 10.6685 14.9777 10.6 15.1501 10.6V10.6ZM11.9001 15.8V28.8C11.9001 29.1448 12.0371 29.4754 12.2809 29.7192C12.5247 29.963 12.8553 30.1 13.2001 30.1H28.8001C29.1449 30.1 29.4755 29.963 29.7193 29.7192C29.9631 29.4754 30.1001 29.1448 30.1001 28.8V15.8H11.9001Z" fill="white"/></svg>
                .text-14-16.color-6B6B6B.ml-12 Додати новий регулярний платіж
              .regular-payment__border-orange.d-flex.pl-8.pr-8.h-61.align-items-center.mt-20
                <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="21" cy="21" r="21" fill="#F2A900" fill-opacity="0.9"/><path d="M13.75 13C13.0207 13 12.3212 13.2897 11.8055 13.8055C11.2897 14.3212 11 15.0207 11 15.75V26.25C11 26.6111 11.0711 26.9687 11.2093 27.3024C11.3475 27.636 11.5501 27.9392 11.8055 28.1945C12.0608 28.4499 12.364 28.6525 12.6976 28.7907C13.0313 28.9289 13.3889 29 13.75 29H20.498C20.2973 28.5189 20.1556 28.0152 20.076 27.5H13.75C13.06 27.5 12.5 26.94 12.5 26.25V15.75C12.5 15.06 13.06 14.5 13.75 14.5H28.25C28.94 14.5 29.5 15.06 29.5 15.75V20.732C30.0486 21.0183 30.5537 21.3813 31 21.81V15.75C31 15.0207 30.7103 14.3212 30.1945 13.8055C29.6788 13.2897 28.9793 13 28.25 13H13.75ZM23.278 22.975C23.3528 23.2336 23.3746 23.5046 23.3421 23.7719C23.3096 24.0391 23.2235 24.297 23.0889 24.5302C22.9544 24.7634 22.7742 24.967 22.559 25.1288C22.3439 25.2906 22.0983 25.4074 21.837 25.472L21.253 25.616C21.1594 26.2149 21.1614 26.8248 21.259 27.423L21.799 27.553C22.0626 27.6165 22.3105 27.7329 22.5277 27.8952C22.7449 28.0575 22.9268 28.2622 23.0624 28.497C23.1981 28.7317 23.2845 28.9916 23.3166 29.2608C23.3487 29.53 23.3257 29.8029 23.249 30.063L23.062 30.695C23.502 31.081 24.002 31.394 24.546 31.616L25.04 31.098C25.2268 30.9015 25.4517 30.745 25.7008 30.6381C25.95 30.5312 26.2183 30.476 26.4895 30.476C26.7607 30.476 27.029 30.5312 27.2782 30.6381C27.5273 30.745 27.7522 30.9015 27.939 31.098L28.437 31.623C28.9785 31.4028 29.4796 31.0943 29.92 30.71L29.722 30.024C29.6474 29.7655 29.6257 29.4945 29.6583 29.2274C29.6908 28.9603 29.777 28.7025 29.9115 28.4694C30.046 28.2364 30.2262 28.0329 30.4413 27.8711C30.6563 27.7094 30.9018 27.5927 31.163 27.528L31.747 27.384C31.8409 26.7848 31.8389 26.1745 31.741 25.576L31.201 25.446C30.9374 25.3825 30.6895 25.2661 30.4723 25.1038C30.2551 24.9416 30.0732 24.7368 29.9376 24.5021C29.8019 24.2673 29.7155 24.0074 29.6834 23.7382C29.6513 23.469 29.6743 23.1961 29.751 22.936L29.938 22.306C29.4981 21.918 28.9965 21.6061 28.454 21.383L27.961 21.902C27.7742 22.0987 27.5493 22.2553 27.3 22.3623C27.0507 22.4693 26.7823 22.5245 26.511 22.5245C26.2397 22.5245 25.9713 22.4693 25.722 22.3623C25.4727 22.2553 25.2478 22.0987 25.061 21.902L24.563 21.377C24.019 21.597 23.519 21.907 23.08 22.289L23.278 22.975ZM26.5 28C25.7 28 25.05 27.328 25.05 26.5C25.05 25.671 25.7 25 26.5 25C27.3 25 27.95 25.671 27.95 26.5C27.95 27.328 27.3 28 26.5 28Z" fill="white"/><line x1="14.5386" y1="18.3462" x2="23.7693" y2="18.3462" stroke="white"/><line x1="14.5386" y1="22.0385" x2="21.9232" y2="22.0385" stroke="white"/></svg>
                .text-14-16.color-6B6B6B.ml-12 Налаштувати регулярний платіж
              .regular-payment__border-orange.d-flex.pl-8.pr-8.h-61.align-items-center.mt-20
                <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="21" cy="21" r="21" fill="#F2A900" fill-opacity="0.9"/><path d="M25.281 19.719C25.3508 19.7887 25.4062 19.8714 25.444 19.9625C25.4818 20.0537 25.5013 20.1513 25.5013 20.25C25.5013 20.3486 25.4818 20.4463 25.444 20.5374C25.4062 20.6286 25.3508 20.7113 25.281 20.781L20.781 25.281C20.7113 25.3508 20.6285 25.4063 20.5374 25.4441C20.4463 25.4819 20.3486 25.5013 20.25 25.5013C20.1513 25.5013 20.0536 25.4819 19.9625 25.4441C19.8714 25.4063 19.7886 25.3508 19.719 25.281L17.469 23.031C17.3992 22.9613 17.3439 22.8785 17.3062 22.7874C17.2684 22.6963 17.249 22.5986 17.249 22.5C17.249 22.4014 17.2684 22.3037 17.3062 22.2126C17.3439 22.1215 17.3992 22.0387 17.469 21.969C17.6098 21.8282 17.8008 21.7491 18 21.7491C18.0986 21.7491 18.1962 21.7685 18.2873 21.8062C18.3785 21.844 18.4612 21.8993 18.531 21.969L20.25 23.6895L24.219 19.719C24.2886 19.6492 24.3714 19.5937 24.4625 19.5559C24.5536 19.5181 24.6513 19.4987 24.75 19.4987C24.8486 19.4987 24.9463 19.5181 25.0374 19.5559C25.1285 19.5937 25.2113 19.6492 25.281 19.719Z" fill="white"/><path d="M14.25 9C14.4489 9 14.6397 9.07902 14.7803 9.21967C14.921 9.36032 15 9.55109 15 9.75V10.5H27V9.75C27 9.55109 27.079 9.36032 27.2197 9.21967C27.3603 9.07902 27.5511 9 27.75 9C27.9489 9 28.1397 9.07902 28.2803 9.21967C28.421 9.36032 28.5 9.55109 28.5 9.75V10.5H30C30.7956 10.5 31.5587 10.8161 32.1213 11.3787C32.6839 11.9413 33 12.7044 33 13.5V30C33 30.7956 32.6839 31.5587 32.1213 32.1213C31.5587 32.6839 30.7956 33 30 33H12C11.2044 33 10.4413 32.6839 9.87868 32.1213C9.31607 31.5587 9 30.7956 9 30V13.5C9 12.7044 9.31607 11.9413 9.87868 11.3787C10.4413 10.8161 11.2044 10.5 12 10.5H13.5V9.75C13.5 9.55109 13.579 9.36032 13.7197 9.21967C13.8603 9.07902 14.0511 9 14.25 9V9ZM10.5 15V30C10.5 30.3978 10.658 30.7794 10.9393 31.0607C11.2206 31.342 11.6022 31.5 12 31.5H30C30.3978 31.5 30.7794 31.342 31.0607 31.0607C31.342 30.7794 31.5 30.3978 31.5 30V15H10.5Z" fill="white"/></svg>
                .text-14-16.color-6B6B6B.ml-12 Налаштувати нагадування про поповнення

            +divider('Регулярні платежи', 'divider--white', 'margin: 62px 0 24px')

            .card-list.regular-payment__card-list.mb-32
              label.card(for='card-1')
                .card__content
                  .radio-button.radio-button--no-border.radio-button--20
                    input.radio-button__control(type='radio' name="regular-payment" id="card-1" value="card-1")
                    .radio-button__checkmark
                  .regular-payment__item
                    .regular-payment__item__icon
                    .regular-payment__item__content
                      .regular-payment__item__content__info
                        .regular-payment__item__content__info__label Регулярний платіж
                        .regular-payment__item__content__info__number №123456700
                      .regular-payment__item__content__name ВНФП Взаємодопомога
                      .regular-payment__item__content__more Дізнатися більше
                button.card__right-button(type='button')
                  .ic_delete
                  .text-12-16.color-orange.mt-8 Видалити
              label.card(for='card-2')
                .card__content
                  .radio-button.radio-button--no-border.radio-button--20
                    input.radio-button__control(type='radio' name="regular-payment" id="card-2" value="card-2")
                    .radio-button__checkmark
                  .regular-payment__item
                    .regular-payment__item__icon
                    .regular-payment__item__content
                      .regular-payment__item__content__info
                        .regular-payment__item__content__info__label Регулярний платіж
                        .regular-payment__item__content__info__number №123456700
                      .regular-payment__item__content__name ВНФП Взаємодопомога
                      .regular-payment__item__content__more Дізнатися більше
                button.card__right-button(type='button')
                  .ic_delete
                  .text-12-16.color-orange.mt-8 Видалити
              label.card(for='card-3')
                .card__content
                  .radio-button.radio-button--no-border.radio-button--20
                    input.radio-button__control(type='radio' name="regular-payment" id="card-3" value="card-3")
                    .radio-button__checkmark
                  .regular-payment__item
                    .regular-payment__item__icon
                    .regular-payment__item__content
                      .regular-payment__item__content__info
                        .regular-payment__item__content__info__label Регулярний платіж
                        .regular-payment__item__content__info__number №123456700
                      .regular-payment__item__content__name ВНФП Взаємодопомога
                      .regular-payment__item__content__more Дізнатися більше
                button.card__right-button(type='button')
                  .ic_delete
                  .text-12-16.color-orange.mt-8 Видалити


    +footer()




  script(src="../scripts/jquery-3.6.0.min.js")
  script(src="../scripts/jquery-ui.min.js")
  script(src="../scripts/jquery-listswipe.js")

  script(src="../scripts/index.js")

