include partial/shared

doctype html
html(lang="uk")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title faq
    link(rel="stylesheet" type="text/css" href="../styles/settings.css")
    link(rel="stylesheet" type="text/css" href="../styles/bootstrap-utilities.css")


  body#settings

    +header('settings-back-btn', true)

    main.with-footer
      #settings-main
        .settings.d-flex.flex-column.align-items-center
          h1.text-19-16.color-6B6B6B.mt-62.mb-48 Налаштування
          .list.w-100
            .list__item
              .list__item__prefix
                .ic_phone
              .list__item__label Системні налаштування
              .list__item__suffix
                .ic_right
            .list__item
              .list__item__prefix
                .ic_side-settings
              .list__item__label Налаштування способів оплати
              .list__item__suffix
                .ic_right

      #settings-page__0.d-none
        .settings.d-flex.flex-column.align-items-center
          h2.text-16-16.color-6B6B6B.mt-62.mb-48 Cистемні налаштування
          .list.w-100
            .list__item
              .list__item__prefix
                .ic_faceid
              .list__item__label Дозволити Face ID
              .list__item__suffix
                input.apple-switch(id='allow-faceid' name='allow-faceid' type='checkbox')
            .list__item
              .list__item__prefix
                .ic_notification
              .list__item__label Дозволити сповіщення
              .list__item__suffix
                input.apple-switch(id='allow-notifications' name='allow-notifications' type='checkbox')
            .list__item
              .list__item__prefix
                .ic_share
              .list__item__label Розповісти друзям
            .list__item
              .list__item__prefix
                .ic_logout
              .list__item__label Вийти



      #settings-page__1.d-none
        form.settings.d-flex.flex-column.align-items-center(name='settings-cards')
          h2.text-16-16.color-6B6B6B.mt-62.mb-48 Налаштування cпособів оплати
          +divider('Збережені карти', 'mb-34')

          .card-list
            label.card(for='card-1')
              .card__content
                .radio-button.radio-button--20
                  input.radio-button__control(type='radio' name="settings-cards" id="card-1" value="card-1")
                  .radio-button__checkmark
                .card__content__card-icon.ic_card-visa
                .card__content__info
                  .card__content__info__card-name Visa Platinum
                  .card__content__info__card-mask ****3456
              button.card__right-button(type='button')
                .ic_delete
                .text-12-16.color-orange.mt-8 Видалити
            label.card(for='card-2')
              .card__content
                .radio-button.radio-button--20
                  input.radio-button__control(type='radio' name="settings-cards" id="card-2" value="card-2")
                  .radio-button__checkmark
                .card__content__card-icon.ic_card-mastercard
                .card__content__info
                  .card__content__info__card-name Master Card
                  .card__content__info__card-mask ****6700
              button.card__right-button(type='button')
                .ic_delete
                .text-12-16.color-orange.mt-8 Видалити
            label.card(for='card-3')
              .card__content
                .radio-button.radio-button--20
                  input.radio-button__control(type='radio' name="settings-cards" id="card-3" value="card-3")
                  .radio-button__checkmark
                .card__content__card-icon.ic_card-mastercard
                .card__content__info
                  .card__content__info__card-name Master Card
                  .card__content__info__card-mask ****6578
              button.card__right-button(type='button')
                .ic_delete
                .text-12-16.color-orange.mt-8 Видалити

          +divider('Інші способи оплати', 'divider--white opacity-50 mt-48 mb-40')

          .settings__other-pay-methods
            label.settings__other-pay-methods__item
              .radio-button.radio-button--20
                input.radio-button__control(type='radio' name="settings-cards" id="applepay" value="applepay")
                .radio-button__checkmark
              .settings__other-pay-methods__item__icon.ic_card-apple-pay
              .settings__other-pay-methods__item__text Apple Pay
            label.settings__other-pay-methods__item
              .radio-button.radio-button--20
                input.radio-button__control(type='radio' name="settings-cards" id="googlepay" value="googlepay")
                .radio-button__checkmark
              .settings__other-pay-methods__item__icon.ic_card-google-pay
              .settings__other-pay-methods__item__text Google Pay

          label.settings__set-default.mt-36.d-flex.align-items-center.w-100
            .radio-button.radio-button--20
              input.radio-button__control(type='checkbox' name="settings-set-default" id="settings-set-default")
              .radio-button__checkmark
            .ml-16.text-14-20.color-orange Назначити спосіб оплати за замовчуванням

          button.btn.pl-24.pr-24.mt-48.mb-48.text-17-16 Зберегти налаштування





    +footer(0)




  script(src="../scripts/jquery-3.6.0.min.js")
  script(src="../scripts/jquery-ui.min.js")
  script(src="../scripts/jquery-listswipe.js")
  script(src="../scripts/index.js")

