include partial/shared

doctype html
html(lang="uk")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title faq
    link(rel="stylesheet" type="text/css" href="../styles/settings.css")
    link(rel="stylesheet" type="text/css" href="../styles/bootstrap-utilities.css")


  body#settings

    +header('settings-back-btn', true)

    main.with-footer
      #settings-main
        .settings.d-flex.flex-column.align-items-center
          h1.text-19-16.color-6B6B6B.mt-62.mb-48 Налаштування
          .list.w-100
            .list__item
              .list__item__prefix
                .ic_phone
              .list__item__label Системні налаштування
              .list__item__suffix
                .ic_right
            .list__item
              .list__item__prefix
                .ic_side-settings
              .list__item__label Налаштування способів оплати
              .list__item__suffix
                .ic_right

      #settings-page__0.d-none
        .settings.d-flex.flex-column.align-items-center
          h2.text-16-16.color-6B6B6B.mt-62.mb-48 Cистемні налаштування
          .list.w-100
            .list__item
              .list__item__prefix
                .ic_faceid
              .list__item__label Дозволити Face ID
              .list__item__suffix
                input.apple-switch(id='allow-faceid' name='allow-faceid' type='checkbox')
            .list__item
              .list__item__prefix
                .ic_notification
              .list__item__label Дозволити сповіщення
              .list__item__suffix
                input.apple-switch(id='allow-notifications' name='allow-notifications' type='checkbox')
            #settings-share.list__item
              .list__item__prefix
                .ic_share
              .list__item__label Розповісти друзям
            #settings-logout.list__item
              .list__item__prefix
                .ic_logout
              .list__item__label Вийти



      #settings-page__1.d-none
        form.settings.d-flex.flex-column.align-items-center(name='settings-cards')
          h2.text-16-16.color-6B6B6B.mt-62.mb-48 Налаштування cпособів оплати
          +divider('Збережені карти', 'mb-34')

          .card-list
            label.card(for='card-1')
              .card__content
                .radio-button.radio-button--20
                  input.radio-button__control(type='radio' name="settings-cards" id="card-1" value="card-1")
                  .radio-button__checkmark
                .card__content__card-icon.ic_card-visa
                .card__content__info
                  .card__content__info__card-name Visa Platinum
                  .card__content__info__card-mask ****3456
              button.card__right-button(type='button')
                .ic_delete
                .text-12-16.color-orange.mt-8 Видалити
            label.card(for='card-2')
              .card__content
                .radio-button.radio-button--20
                  input.radio-button__control(type='radio' name="settings-cards" id="card-2" value="card-2")
                  .radio-button__checkmark
                .card__content__card-icon.ic_card-mastercard
                .card__content__info
                  .card__content__info__card-name Master Card
                  .card__content__info__card-mask ****6700
              button.card__right-button(type='button')
                .ic_delete
                .text-12-16.color-orange.mt-8 Видалити
            label.card(for='card-3')
              .card__content
                .radio-button.radio-button--20
                  input.radio-button__control(type='radio' name="settings-cards" id="card-3" value="card-3")
                  .radio-button__checkmark
                .card__content__card-icon.ic_card-mastercard
                .card__content__info
                  .card__content__info__card-name Master Card
                  .card__content__info__card-mask ****6578
              button.card__right-button(type='button')
                .ic_delete
                .text-12-16.color-orange.mt-8 Видалити

          +divider('Інші способи оплати', 'divider--white opacity-50 mt-48 mb-40')

          .settings__other-pay-methods
            label.settings__other-pay-methods__item
              .radio-button.radio-button--20
                input.radio-button__control(type='radio' name="settings-cards" id="applepay" value="applepay")
                .radio-button__checkmark
              .settings__other-pay-methods__item__icon.ic_card-apple-pay
              .settings__other-pay-methods__item__text Apple Pay
            label.settings__other-pay-methods__item
              .radio-button.radio-button--20
                input.radio-button__control(type='radio' name="settings-cards" id="googlepay" value="googlepay")
                .radio-button__checkmark
              .settings__other-pay-methods__item__icon.ic_card-google-pay
              .settings__other-pay-methods__item__text Google Pay

          label.settings__set-default.mt-36.d-flex.align-items-center.w-100
            .radio-button.radio-button--20
              input.radio-button__control(type='checkbox' name="settings-set-default" id="settings-set-default")
              .radio-button__checkmark
            .ml-16.text-14-20.color-orange Назначити спосіб оплати за замовчуванням

          button#settings-save.btn.pl-24.pr-24.mt-48.mb-48.text-17-16(type='button') Зберегти налаштування




    #settings-modal-1
      .modal__content.justify-content-between.h-256
        .modal__close-btn
        .text-16-16.color-orange.mt-16 Підтвердження дії
        .mt-8.text-14-20.color-858585.text-center Ви дійсно бажаєте видалити цю банківську карту?
        .d-flex.w-100.justify-content-around.mb-16
          #settings-modal-1-delete.text-14-16.fw-bold.color-green Так, видалити
          #settings-modal-1-cancel.text-14-16.fw-bold.color-orange Ні, залишити

    #settings-modal-2
      .modal__content
        .modal__close-btn
        .text-16-16.color-orange.mt-80 Банківська карта успішно видалена!
        .ic_done.mt-28.mb-48

    #settings-modal-3
      .modal__content
        .modal__close-btn
        .text-16-16.color-orange.mt-80 Налаштування способів оплати успішно збережені!
        .ic_done.mt-28.mb-48

    #settings-modal-4
      .modal__content.justify-content-between.h-256
        .modal__close-btn
        .text-16-16.color-orange.mt-16 Підтвердження дії
        .mt-8.text-14-20.color-858585.text-center Ви дійсно бажаєте вийти?
        .d-flex.w-100.justify-content-around.mb-16
          #settings-modal-4-logout.text-14-16.fw-bold.color-green Так, вийти
          #settings-modal-4-cancel.text-14-16.fw-bold.color-orange Ні, залишитись

    #settings-modal-5
      .modal__content.justify-content-center.h-295
        .modal__close-btn
        .text-16-16.color-orange.mb-28 Розповісти друзям
        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.2501 1.50045C19.6533 1.50045 19.081 1.7375 18.6591 2.15945C18.2371 2.5814 18.0001 3.15368 18.0001 3.75041C18.0001 4.34714 18.2371 4.91942 18.6591 5.34137C19.081 5.76332 19.6533 6.00037 20.2501 6.00037C20.8468 6.00037 21.4191 5.76332 21.841 5.34137C22.263 4.91942 22.5 4.34714 22.5 3.75041C22.5 3.15368 22.263 2.5814 21.841 2.15945C21.4191 1.7375 20.8468 1.50045 20.2501 1.50045ZM16.5001 3.75041C16.5 2.87057 16.8093 2.01871 17.3738 1.34387C17.9383 0.66902 18.7222 0.214163 19.5882 0.0588757C20.4542 -0.0964113 21.3473 0.0577601 22.1111 0.494416C22.875 0.931073 23.4609 1.62241 23.7665 2.44747C24.0721 3.27253 24.0779 4.17877 23.7828 5.00765C23.4877 5.83652 22.9106 6.53525 22.1523 6.98157C21.3941 7.42789 20.5031 7.5934 19.6352 7.44913C18.7672 7.30485 17.9777 6.85999 17.4046 6.19237L7.32778 10.8723C7.55943 11.6064 7.55943 12.3941 7.32778 13.1283L17.4046 17.8082C18.0104 17.1037 18.8561 16.6492 19.7779 16.5327C20.6996 16.4162 21.6318 16.6461 22.3938 17.1777C23.1558 17.7094 23.6932 18.505 23.902 19.4103C24.1108 20.3157 23.9761 21.2663 23.5239 22.078C23.0717 22.8896 22.3344 23.5045 21.4547 23.8035C20.575 24.1025 19.6156 24.0642 18.7625 23.6962C17.9094 23.3281 17.2233 22.6565 16.8372 21.8114C16.4511 20.9663 16.3924 20.008 16.6726 19.1222L6.59579 14.4422C6.09695 15.0236 5.43203 15.4382 4.69049 15.6303C3.94894 15.8225 3.16634 15.7829 2.44796 15.5169C1.72959 15.251 1.10989 14.7714 0.672248 14.1427C0.234602 13.514 0 12.7663 0 12.0003C0 11.2342 0.234602 10.4866 0.672248 9.85788C1.10989 9.22917 1.72959 8.74958 2.44796 8.48361C3.16634 8.21765 3.94894 8.17807 4.69049 8.3702C5.43203 8.56234 6.09695 8.97697 6.59579 9.55831L16.6726 4.87839C16.5579 4.5134 16.4997 4.133 16.5001 3.75041ZM3.75034 9.75031C3.15361 9.75031 2.58132 9.98736 2.15937 10.4093C1.73742 10.8313 1.50037 11.4035 1.50037 12.0003C1.50037 12.597 1.73742 13.1693 2.15937 13.5912C2.58132 14.0132 3.15361 14.2502 3.75034 14.2502C4.34706 14.2502 4.91935 14.0132 5.3413 13.5912C5.76325 13.1693 6.0003 12.597 6.0003 12.0003C6.0003 11.4035 5.76325 10.8313 5.3413 10.4093C4.91935 9.98736 4.34706 9.75031 3.75034 9.75031ZM20.2501 18.0002C19.6533 18.0002 19.081 18.2372 18.6591 18.6592C18.2371 19.0811 18.0001 19.6534 18.0001 20.2501C18.0001 20.8469 18.2371 21.4191 18.6591 21.8411C19.081 22.2631 19.6533 22.5001 20.2501 22.5001C20.8468 22.5001 21.4191 22.2631 21.841 21.8411C22.263 21.4191 22.5 20.8469 22.5 20.2501C22.5 19.6534 22.263 19.0811 21.841 18.6592C21.4191 18.2372 20.8468 18.0002 20.2501 18.0002Z" fill="#858585"/></svg>
        .mt-12.text-14-20.color-858585.text-center Оберіть через яку соціальну мережу Ви бажаєте зробити поширення серед друзів
        .d-flex.w-100.justify-content-center.mt-24
          a(href='teleram.org')
            <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M33 16C33 24.836 25.6121 32 16.5 32C7.38788 32 0 24.836 0 16C0 7.164 7.38788 0 16.5 0C25.6121 0 33 7.164 33 16ZM17.0913 11.812C15.4866 12.4587 12.2788 13.7987 7.469 15.8307C6.688 16.132 6.27825 16.4267 6.24113 16.7147C6.17788 17.2027 6.80763 17.3947 7.66288 17.6547C7.77975 17.6907 7.90075 17.7267 8.0245 17.7667C8.86738 18.032 10.0004 18.3427 10.5889 18.3547C11.1237 18.3653 11.7205 18.152 12.3791 17.7147C16.8726 14.772 19.1923 13.2853 19.338 13.2533C19.4411 13.2307 19.5841 13.2013 19.6804 13.2853C19.7766 13.368 19.767 13.5253 19.7574 13.568C19.6941 13.8253 17.2274 16.0507 15.9486 17.2027C15.5499 17.5613 15.268 17.816 15.2103 17.8747C15.081 18.004 14.949 18.128 14.8225 18.2467C14.0387 18.9773 13.453 19.5267 14.8555 20.4227C15.5293 20.8533 16.0683 21.2093 16.6059 21.564C17.193 21.952 17.7788 22.3387 18.5378 22.8213C18.7303 22.944 18.9145 23.0707 19.0946 23.1947C19.778 23.668 20.3926 24.092 21.1516 24.0253C21.5916 23.9853 22.0481 23.584 22.2791 22.3853C22.825 19.5507 23.9003 13.412 24.1491 10.8813C24.1643 10.6712 24.155 10.4601 24.1216 10.252C24.1016 10.0839 24.0172 9.92924 23.8851 9.81867C23.6885 9.66267 23.3832 9.62933 23.2458 9.632C22.6256 9.64267 21.6741 9.964 17.0913 11.812Z" fill="#F2A900"/></svg>
          a.ml-24(href='facebook.com')
            <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 16.5921C0 24.7954 5.95788 31.6168 13.75 33V21.0829H9.625V16.5H13.75V12.8329C13.75 8.70788 16.4079 6.41712 20.1671 6.41712C21.3579 6.41712 22.6421 6.6 23.8329 6.78288V11H21.725C19.7079 11 19.25 12.0079 19.25 13.2921V16.5H23.65L22.9171 21.0829H19.25V33C27.0421 31.6168 33 24.7968 33 16.5921C33 7.46625 25.575 0 16.5 0C7.425 0 0 7.46625 0 16.5921Z" fill="#F2A900"/></svg>
          a.ml-24(href='instagram.com')
            <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.6562 16C21.6562 17.3261 21.113 18.5979 20.146 19.5355C19.179 20.4732 17.8675 21 16.5 21C15.1325 21 13.821 20.4732 12.854 19.5355C11.887 18.5979 11.3438 17.3261 11.3438 16C11.3438 15.715 11.3747 15.4367 11.428 15.1667H9.625V21.8283C9.625 22.2917 10.0117 22.6667 10.4895 22.6667H22.5122C22.7412 22.6662 22.9606 22.5777 23.1224 22.4205C23.2842 22.2634 23.375 22.0504 23.375 21.8283V15.1667H21.572C21.6253 15.4367 21.6562 15.715 21.6562 16ZM16.5 19.3333C16.9515 19.3332 17.3986 19.2469 17.8157 19.0792C18.2329 18.9116 18.6118 18.6659 18.931 18.3562C19.2502 18.0465 19.5034 17.6789 19.6761 17.2743C19.8488 16.8698 19.9376 16.4362 19.9375 15.9983C19.9374 15.5605 19.8483 15.1269 19.6754 14.7225C19.5025 14.318 19.2492 13.9505 18.9298 13.641C18.6105 13.3314 18.2314 13.0859 17.8141 12.9185C17.3969 12.751 16.9498 12.6649 16.4983 12.665C15.5864 12.6652 14.7119 13.0167 14.0672 13.6421C13.4226 14.2676 13.0606 15.1157 13.0608 16C13.061 16.8843 13.4235 17.7322 14.0685 18.3574C14.7134 18.9825 15.5881 19.3336 16.5 19.3333ZM20.625 12.5H22.6858C22.8227 12.5 22.954 12.4474 23.051 12.3537C23.148 12.2599 23.2027 12.1328 23.2031 12V10.0017C23.2031 9.86862 23.1486 9.74102 23.0516 9.64693C22.9546 9.55285 22.823 9.5 22.6858 9.5H20.625C20.4878 9.5 20.3562 9.55285 20.2592 9.64693C20.1622 9.74102 20.1077 9.86862 20.1077 10.0017V12C20.1094 12.275 20.3414 12.5 20.625 12.5ZM16.5 0C12.1239 0 7.92709 1.68571 4.83274 4.68629C1.73839 7.68687 0 11.7565 0 16C0 20.2435 1.73839 24.3131 4.83274 27.3137C7.92709 30.3143 12.1239 32 16.5 32C18.6668 32 20.8124 31.5861 22.8143 30.7821C24.8162 29.978 26.6351 28.7994 28.1673 27.3137C29.6994 25.828 30.9148 24.0641 31.744 22.1229C32.5732 20.1817 33 18.1012 33 16C33 13.8989 32.5732 11.8183 31.744 9.87706C30.9148 7.93586 29.6994 6.17203 28.1673 4.68629C26.6351 3.20055 24.8162 2.022 22.8143 1.21793C20.8124 0.413852 18.6668 0 16.5 0ZM25.0938 22.4817C25.0938 23.5 24.2344 24.3333 23.1842 24.3333H9.81578C8.76562 24.3333 7.90625 23.5 7.90625 22.4817V9.51833C7.90625 8.5 8.76562 7.66667 9.81578 7.66667H23.1842C24.2344 7.66667 25.0938 8.5 25.0938 9.51833V22.4817Z" fill="#F2A900"/></svg>
          a.ml-24(href='youtube.com')
            <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.2552 16.213L15.3948 14.4117C15.058 14.2553 14.7812 14.4306 14.7812 14.8036V18.1964C14.7812 18.5694 15.058 18.7447 15.3948 18.5883L19.2534 16.787C19.592 16.6289 19.592 16.3711 19.2552 16.213ZM16.5 0C7.38719 0 0 7.38719 0 16.5C0 25.6128 7.38719 33 16.5 33C25.6128 33 33 25.6128 33 16.5C33 7.38719 25.6128 0 16.5 0ZM16.5 23.2031C8.05406 23.2031 7.90625 22.4417 7.90625 16.5C7.90625 10.5583 8.05406 9.79688 16.5 9.79688C24.9459 9.79688 25.0938 10.5583 25.0938 16.5C25.0938 22.4417 24.9459 23.2031 16.5 23.2031Z" fill="#F2A900"/></svg>




    +loading()
    +footer(0)




  script(src="../scripts/jquery-3.6.0.min.js")
  script(src="../scripts/jquery-ui.min.js")
  script(src="../scripts/jquery-listswipe.js")
  script(src="../scripts/index.js")

