doctype html
html(lang="uk")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title index
    link(rel="stylesheet" type="text/css" href="styles/index.css")
    link(rel="stylesheet" type="text/css" href="styles/bootstrap-utilities.css")


  body#index
    main
      .index

        .d-flex.align-items-center.justify-content-center
          .wrapper.mt-48
            .rectangle1
            .rectangle2
            .rectangle3
            .rectangle4
              <svg width="115" height="48" viewBox="0 0 115 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M61.997 19.968H66.9058L60.2018 0.000488281H54.2391L47.5342 19.968H52.2167L53.5269 15.4494H60.7018L61.997 19.968ZM54.3641 12.288L56.8307 3.76104H57.3968L59.8484 12.288H54.3641Z" fill="white"/><path d="M60.6278 46.9159V27.0188H56.0349V35.0591H47.2733V27.0188H42.6659V46.9159H47.2733V38.6627H56.0349V46.9159H60.6278Z" fill="white"/><path d="M47.7806 0.000488281H34.5824V19.968H39.2077V3.60404H47.7806V0.000488281Z" fill="white"/><path d="M93.3196 27.0188H88.7123V46.9159H93.3196V27.0188Z" fill="white"/><path d="M114.396 46.9159V27.0188H105.954C103.6 27.0188 101.72 27.6197 100.369 28.8049C99.0286 29.9804 98.3496 31.5674 98.3496 33.5226C98.3496 34.8136 98.7156 35.9572 99.4397 36.9222C100.166 37.892 101.151 38.6085 102.367 39.05L102.723 39.1794L97.6953 46.9159H102.609L107.065 39.7702H109.846V46.9159H114.396ZM106.536 36.7074C105.47 36.7074 104.619 36.4253 104.006 35.8688C103.386 35.3058 103.071 34.5212 103.071 33.5365C103.071 32.5715 103.39 31.79 104.02 31.2125C104.642 30.6422 105.484 30.3522 106.522 30.3522H109.845V36.7068H106.536V36.7074Z" fill="white"/><path d="M19.1235 46.9159V27.0188H1.33179V46.9159H5.93916V30.6079H14.53V46.9159H19.1235Z" fill="white"/><path d="M2.91432 14.9045C2.49002 15.7317 1.76272 16.151 0.753027 16.151C0.555951 16.151 0.307683 16.1276 0 16.0788V20.0343C0.407503 20.1227 0.922517 20.1678 1.53682 20.1678C2.59576 20.1678 3.5219 19.9789 4.28943 19.606C5.04847 19.2378 5.6748 18.6897 6.15073 17.9774C6.63816 17.2483 7.01684 16.3796 7.27767 15.3954C7.54149 14.3991 7.7086 13.223 7.7735 11.9007L8.20142 3.60355H13.9856V19.9675H18.5966V0H4.13135L3.60369 11.544C3.53278 13.0377 3.30794 14.1368 2.91432 14.9045Z" fill="white"/><path d="M28.7091 0.000488281H24.0837V19.968H28.7091V0.000488281Z" fill="white"/><path d="M37.5057 30.6217V27.0188H24.0707V46.9159H37.5057V43.3129H28.678V38.5351H36.9803V35.3009H28.678V30.6217H37.5057Z" fill="white"/><path d="M81.0882 28.6304C79.4304 27.2214 77.3668 26.5073 74.9531 26.5073C71.9877 26.5073 69.6155 27.4434 67.9003 29.2885C66.178 31.139 65.3053 33.7205 65.3053 36.9606C65.3053 40.2098 66.1753 42.7961 67.8932 44.6472C69.604 46.4923 71.9797 47.4278 74.9531 47.4278C77.4234 47.4278 79.5003 46.7372 81.1262 45.3745C82.6646 44.0847 83.5903 42.375 83.8821 40.2868H79.3906C79.1218 41.3011 78.6126 42.1187 77.8752 42.7197C77.0812 43.3676 76.1034 43.6966 74.9681 43.6966C73.435 43.6966 72.2078 43.077 71.3193 41.854C70.4528 40.661 70.0125 39.0097 70.0125 36.9468C70.0125 34.9116 70.4519 33.2747 71.3193 32.0817C72.2078 30.8586 73.4306 30.239 74.954 30.239C76.0813 30.239 77.0627 30.5801 77.8717 31.2533C78.6205 31.8766 79.1271 32.7103 79.3818 33.7343H83.8573C83.5877 31.6792 82.6575 29.9641 81.0882 28.6304Z" fill="white"/>

        .index__buttons-container.d-flex.flex-column.align-items-center.mt-12
          a.btn(href='pages/login.html') Увійти
          a.text-16-16.color-green.mt-36(href='pages/registration.html') Зареєструватись
          a.text-14-16.color-8E8E8E.mt-48(href='pages/demo.html') Переглянути демо версію

    script(src="scripts/jquery-3.6.0.min.js")
    script(src="scripts/jquery-ui.min.js")
    script(src="scripts/index.js")
